.navigation-bar {
  flex-grow: 1;
  padding: 0 100px;
}

.navigation-bar .list-link {
  color: white;
  font-size: 18px;
  font-weight: 300;
  margin-left: 30px;
}

.navigation-bar .list-link:hover {
  padding-bottom: 10px;
  animation-name: color-faded-in-out;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

@keyframes color-faded-in-out {
  from {
    color: white;
  }

  to {
    color: #e2325a;
  }
}
