.header {
  padding: 25px 30px 25px 30px;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-homelink {
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.header-homelink:hover {
  color: #e2325a;
  transition: color 300ms;
}

.toolbox {
  display: flex;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 70px;
}

.search-box {
  width: 150px;
  border: 1px solid #efefef;
  border-radius: 5px;
  align-self: stretch;
  margin-right: 10px;
  font-size: 16px;
  color: white;
  background-color: transparent;
  padding: 0px 10px;
}

.search-box:focus {
  border: 1px solid #e2325a;
  outline: none;
}

.search-icon-wrapper {
  color: white;
}

.search-icon-wrapper:hover {
  cursor: pointer;
}


